<!-- <div class="ekart--product--container">
  <img [src]="product.imagePath" />
  <p>Name: {{ product.name }}</p>
  <p>Price: ${{ product.price }}</p>
  <p>Color: {{ product.color }}</p>
  <p>Discounted Price: ${{ getDiscountPrice().toFixed(2) }}</p>
  <p>
    {{
      product.inStock > 0
        ? "only " + product.inStock + " items are left"
        : "Not in Stock"
    }}
  </p> -->
<!-- <button [disabled]="!(product.inStock > 0)">Buy Now</button> -->
<!-- <input (input)="onNameChange($event)" />
  <p>name = {{ name }}</p> -->
<!-- <button (click)="decrementCartValue()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="incrementCartValue()">+</button>
</div> -->
<div class="ekart--product--container">
  <app-search></app-search>
  <!-- <product-list></product-list> -->
  <!-- <div *ngFor="let item of listOfString">
    <p>The current item is: {{ item }}</p>
  </div> -->
</div>
