<div class="ekart--search--product">
  <!-- (input)="onSearchTextChange()" -->
  <!-- [(ngModel)]="searchText" -->
  <input class="ekart-search-product-input" #searchInput />
  <!-- [disabled]="!searchText"
  [ngClass]="{
    btn: true,
    'btn-search': searchText,
    'btn-search-disabled': !searchText
  }" -->
  <button class="btn btn-search" (click)="updateSearchText()">Search</button>
</div>
<div class="ekart-search-result-for">
  <p *ngIf="searchText !== '' && searchText !== undefined">
    <strong>Search result for:</strong> {{ searchText }}
  </p>
</div>
